body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  color: white;
  background-color:black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.logo{display: block;width: 50%;border-radius: 50%;}
@media(min-width:600px){
  .logo{
    width: 200px;
  }
}
h1 {
  font-size: 5rem;
  display:block;
  width: 800px;
  margin: 0px 0px 0px 0px;
}
@media(max-width:800px){
  h1{
    width:100%;
    font-size: 3rem;
  }
}
.card{
  display: inline-block;
  width: 40%;
  margin: 0px 0px 100px 0px;
}
@media(max-width:600px){
  .card{
    width:100%;
  }
}
@media(min-width:600px){
  div.right{
    margin:0% 0% 0% 18%
  }
}
.tile-image{
  height:200px;
  width: 250px;
  float: left;
  margin:0px 10px 0px 0px;
  
}
@media(max-width:600px) {
  .tile-image{width:100%;}
}
a{color: whitesmoke;}
h2{color:aquamarine;}
h3{color: firebrick;}
footer {
  text-align: right;
  color: lightgreen;
}
span{
  color: blueviolet;
  font-family: 'Protest Revolution', sans-serif;
}
